body {
    background-image: url("/img/cloud.jpg");
    background-color: cornflowerblue;
    background-position: center;
    background-size: cover;
    height: auto;
    color: black;
    /*    overflow: hidden;*/
    background-repeat: no-repeat;
/*        margin-bottom: 560px;*/
/*    margin: 150px;*/
}


* {
    box-sizing: border-box;
  }

.sun {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.rain {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.gloom {
    background-color: darkcyan;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}


.wind {
    background-color: #04AA6D;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}


.hot {
    background-color: greenyellow;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.paragraph {
    margin: 200px;
    display: flex;
    justify-content: space-around;
    height: 195px;
}

.paragraph1, .paragraph2, .paragraph3 {
    border-radius: 25px;
}

.paragraph1 {
    background: #73AD21;
    width: 205px;
    height: 205px;
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    overflow: hidden;
}

.paragraph2 {
    background: pink;
    width: 205px;
    height: 205px;
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    overflow: hidden;
}

.paragraph3 {
    background: #fffacd;
    width: 205px;
    height: 205px;
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    .sun, .rain, .gloom, .wind, .hot {
        width: 100%;
    }
}

.footer-container {
    display: flex;
    align-items: stretch;
/*    background-color: darkorange;*/
/*    border: 1px solid blue;*/
    height: 135px;
}

.footer-container > div {
    background-color:greenyellow;
    color: black;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.fa {
    padding: 20px;
    font-size: 26px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-discord {
    background: #dd4b39;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-roblox {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}