body {
    background-image: url("/img/cloud.jpg");
    background-color: cornflowerblue;
    background-position: center;
    background-size: cover;
    height: auto;
    color: black;
    /*    overflow: hidden;*/
    background-repeat: no-repeat;
/*        margin-bottom: 560px;*/
    margin: 150px 200px 200px 200px;
}


* {
    box-sizing: border-box;
  }

.sun {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.rain {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.gloom {
    background-color: darkcyan;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}


.wind {
    background-color: #04AA6D;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}


.hot {
    background-color: greenyellow;
    padding: 20px;
    float: left;
    width: 20%;
    border: 1px solid black;
    height: 80px;
    text-align: center;
    font-size: 30px;
}

.paragraph {
    margin: 200px;
    display: flex;
    justify-content: space-around;
    height: 195px;
}

.paragraph1, .paragraph2, .paragraph3 {
    border-radius: 25px;
}

.paragraph1 {
    background: #73AD21;
    width: 205px;
    height: 205px;
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    overflow: hidden;
}

.paragraph2 {
    background: pink;
    width: 205px;
    height: 205px;
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    overflow: hidden;
}

.paragraph3 {
    background: #fffacd;
    width: 205px;
    height: 205px;
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-size: 18px;
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    .sun, .rain, .gloom, .wind, .hot {
        width: 100%;
    }
}
